<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="host_header_to_service" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://{C:1}:8080/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.+?)(?=(\.|$))" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
